<!doctype html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Test</title>
  <style type="text/css">
    pre {
        white-space: pre-wrap;
    }
  </style>
</head>
<body>

<h1>Test page 3</h1>
<p>Session info:</p>
<pre><%#= Rack::Utils.escape_html(session[:auth_info].inspect) %></pre>
<pre><%= Rack::Utils.escape_html(session[:auth_info].to_json(
  indent: '  ',
  object_nl: "\n",
  array_nl: "\n",
)) %></pre>

<p>Token</p>
<pre><%= Rack::Utils.escape_html(session[:auth_info].credentials.token) %></pre>

<div>
  <form
    action="/log_out"
    method="post"
  >
    <button>Log out</button>
  </form>
</div>

</body>
</html>
